<p-dataTable [value]="todos" [editable]="true" resizableColumns="true" [paginator]="true" [rows]="20">
  <p-column field="_id" header="id" [editable]="true"></p-column>
  <p-column field="userId" header="userId" [editable]="true"></p-column>
  <p-column field="todo" header="todo" [editable]="true"></p-column>
  <p-column field="hasAttachment" header="hasAttachment" [editable]="true">
    <ng-template let-col let-todo="rowData" pTemplate="editor">
      <p-dropdown [(ngModel)]="todo[col.field]" (onChange)="onRowClick($event, col , todo)" [options]="hasAttachStatus" [autoWidth]="false"
        [style]="{'width':'100%'}" required="true" appendTo="body"></p-dropdown>
    </ng-template>
  </p-column>
  <p-column field="isDone" header="isDone" [editable]="false">
    <ng-template let-col let-todo="rowData" pTemplate="editor">
      <p-dropdown [(ngModel)]="todo[col.field]" [options]="hasAttachStatus" [autoWidth]="false" [style]="{'width':'100%'}" required="true"
        appendTo="body"></p-dropdown>
    </ng-template>
  </p-column>

  <p-column field="completionDate" header="Completion Date" [editable]="false" [style]=" {'overflow':'visible' }">
    <ng-template let-col let-todo="rowData" pTemplate="body">
      {{todo[col.field]|date }}
    </ng-template>
    <ng-template let-col let-todo="rowData" pTemplate="editor">
      <p-calendar [(ngModel)]="todo[col.field]" appendTo="body"></p-calendar>
    </ng-template>
  </p-column>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-plus" (click)="Add()" label="Add"></button>
      <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
    </div>
  </p-footer>
</p-dataTable>

<div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="true" style="font-size:16px;text-align:center;padding:20px">
  <p-dialog header="Add Todo" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" width="350"
    (onAfterHide)="onDialogHide()">
    <form (ngSubmit)="saveAddedTodo(this)" style="height:250px">
      <div class="form-group">
        <label for="Todo">Todo:</label>
        <input type="text" class="form-control" pInputText id="todo" [(ngModel)]="addedTodo.todo" [ngModelOptions]="{standalone: true}">
      </div>
      <div class="form-group">
        <label for="hasAttachment">Attachment:</label>
        <!-- <p-dropdown class="form-control" [options]="hasAttachStatus" [(ngModel)]="addedTodo.hasAttachment" [ngModelOptions]="{standalone: true}"></p-dropdown> -->
        <p-dropdown [options]="hasAttachStatus" [(ngModel)]="addedTodo.hasAttachment" [style]="{'width':'150px'}" editable="true"
          [ngModelOptions]="{standalone: true}" placeholder="Select Starus"></p-dropdown>
      </div>

      <button type="submit" pButton icon="fa-check" (click)="save()" label="Save"></button>
    </form>
  </p-dialog>
